<%= link_to get_garment_path(garment), class: 'garment-card col-xs-12 col-sm-4 hovercard', data: { img: image_url(garment.thumbnail) } do %>
  <div class="col-xs-6 col-sm-12">
    <p class="name"><%= garment.name %></p>
    <p><%= garment.price %></p>
  </div>
  <div class="col-xs-6 hidden-sm">
    <%= image_tag garment.thumbnail, class: 'full-height full-width' %>
  </div>
<% end %>
