<%=
  link_to get_garment_path(garment),
  class: 'garment-card col-12 col-sm-4 hovercard',
  data: {
    controller: "garmentcard",
    garmentcard_img: image_url(garment.thumbnail),
    action: "mouseover->garmentcard#display mouseout->garmentcard#hide"
  } do %>
  <div class="col-6 col-sm-12">
    <p class="name"><%= garment.name %></p>
    <p><%= number_to_currency(garment.price) %></p>
  </div>
  <div class="col-6 hidden-sm">
    <%= image_tag garment.thumbnail, class: 'full-height full-width' %>
  </div>
<% end %>
