<% content_for(:title) do %>edit garment <%= @garment.name %><% end %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard', column_classes: "full-height" do %>
    <h1>edit <%= @garment.name %></h1>
    <br>

    <%= render 'form' %>
  <% end %>
</div>
