<% content_for(:title) do %>new garment<% end %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard', column_classes: "full-height" do %>
    <h1>new garment</h1>
    <br>

    <%= render 'form' %>
  <% end %>
</div>
