.garment-container {
  // position: fixed;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: $white;

  @include breakpoint(m) {
    position: relative;
  }
}

.garment-thumbnail {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$garment-header-padding: 1rem;
.garment-header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  background: $white;

  padding: $garment-header-padding;

  .garment-name {
    padding-bottom: $garment-header-padding;
    border: 1px solid $pink;
  }

  .garment-header-body {
    display: flex;

    > div {
      flex-basis: 0;
      flex-grow: 1;
    }

    border: 1px solid $pink;
    border-top: none;

    > div:first-child {
      border-right: 1px solid $pink;
    }
  }

  .pricetag {
    .button-wrapper {
      width: 100%;
      text-align: center;
    }
  }
}

.garment-images {
  position: relative;
  z-index: 2;

  // let the thumbnail shine thru as second image
  .garment-images-spacer {
    height: 100vh;
    pointer-events: none;
  }
}
