#postcard #title {
  line-height: 0.9;

  font-size: 3.2rem;

  @media (max-width: 500px) {
    font-size: 2.4rem;
  }

  @media (min-width: 860px) {
    font-size: 4rem;
  }

  position: relative;
  z-index: 10;
  cursor: pointer;

  span {
    position: absolute;
    transition: all 500ms $easeInOutQuint;
    transition-property: top, left;
    @for $i from 1 to 6 {
      &:nth-child(#{$i}) {
        color: nth($brand-colors, $i);
        top: $i * 0px;
        left: $i * 0px;
        z-index: -1 * $i;
      }
    }

  }
}
@for $i from 1 to 6 {
  #postcard #title:hover span:nth-child(#{$i}) {
    top: $i * 2px;
    left: $i * 2px;
  }
}

#postcard .rose {
  height: 40%;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 2rem;
}

#home-intro {
  max-width: 240px;
  float: right;
  margin-top: 1rem;

  @include breakpoint(m) {
    max-width: 280px;

    p {
      margin-bottom: 1rem;
    }
  }

  p {
    text-align: justify;
  }
}

#home-sock {
  width: 40%;
  height: auto;

  position: absolute;
  bottom: 0;
  left: 1rem;
}
