<% bg ||= 'clouds' %>

<div class="flex flex-center full-height"
  data-controller="cube"
  data-target="cube.cubeContainer"
  id="cube-container"
  data-action="
    turbolinks:render@window->cube#onRender
    turbolinks:before-visit@window->cube#onBeforeVisit
  "
>
  <div class="cube-bg <%= bg %>" data-bg="<%= bg %>"></div>
  <%= render 'shared/postcard', postcard_classes: 'p-0' do %>
    <div id="cube">
      <div class="side front">
        <div class="side-inner" data-target="cube.frontSide">
          <%= yield %>
        </div>
      </div>

      <div class="side back"><div class="side-inner"></div></div>
      <div class="side left"><div class="side-inner"></div></div>
      <div class="side right"><div class="side-inner"></div></div>
      <div class="side bottom"><div class="side-inner"></div></div>
      <div class="side top"><div class="side-inner"></div></div>
    </div>
  <% end %>
</div>
