<%= render 'shared/button', href: 'https://www.instagram.com/wavedashed/', classes: 'instagram' do %>
  <div class="d-flex align-center">
    <h3 class="mr-1">&#8688;</h3><p><span class="t-underline"><%= letterize('@wavedashed') %></span><%= letterize(' on instagram') %></p>
  </div>
<% end %>
