<div class="navbar">
  <p><%= line_to wavedashize, root_path, class: 'wavedash' %></p>
  <p class="navbar-right">
    <% Category.all.each do |category| %>
      <% if category == @category %>
        <span class="bold"><%= category.name %></span> |
      <% else %>
        <%= line_to category.name, category_path(category.name) %> |
      <% end %>
    <% end %>

    <%= render 'shared/link_to_cart' %>
  </p>
</div>
