<%= render 'shared/cube', bg: 'clouds-2' do %>
  <h1>contact us</h1>

  <p>
    send an email to ask a question<br>
    or to say <%= link_to ApplicationHelper::EMAIL, "mailto:#{ApplicationHelper::EMAIL}", target: :blank %>
  </p>

  <br>
  <%= line_to "back", root_path %>
<% end %>
