<div class="flex flex-center full-height" id="label">
  <%= render 'shared/postcard' do %>
    <div class="text-center">
      <h1 class="wavedash" id="title">wavedash</h1>
      <h2><%= params[:size] || "m" %></h2>

      <p>pattern 2 ~ 2018</p>
      <p class="underline">wavedash.club</p>
    </div>
  <% end %>
</div>
