<%= render 'shared/cube', bg: 'clouds-2' do %>
  <div class="scroll">
    <%= line_to "back home", root_path %>
    <h1 class="mb-1">our story</h1>

    <p class="mb-0_5 t-justify"><strong>hello, we are wavedash.</strong></p>

    <p class="mb-0_5 t-justify">
      We collaborate with local artists <!-- <br /> -->
      to produce socks that we find <!-- <br /> -->
      comfortable, pretty, & unique. <!-- <br /> -->
    </p>

    <p class="mb-0_5 t-justify">
      We are on a mission to accomplish <!-- <br /> -->
      three things that we find important:
    </p>
    <ol>
      <li>enable artists to support themselves with what they create.</li>
      <li>produce clothing that we are proud to wear ourselves.</li>
      <li>nudge the clothing industry towards a more sustainable future.</li>
    </ol>

    <p class="mb-0_5 t-justify">
      And we think we have found <!-- <br /> -->
      something that works. By asking <!-- <br /> -->
      local, small artists to create the <!-- <br /> -->
      designs you find on our clothing, <!-- <br /> -->
      we have created some of the most <!-- <br /> -->
      beautiful socks we have seen. <!-- <br /> -->
      We pay the artist for every <!-- <br /> -->
      sock (or two) that we sell. And <!-- <br /> -->
      we work with manufacturers <!-- <br /> -->
      to locally source textile and thread, <!-- <br /> -->
      lowering our clothing's carbon footprint. <!-- <br /> -->
    </p>

    <p class="mb-0_5 t-justify">
      By purchasing our socks, you directly <!-- <br /> -->
      support local artists &mdash; and you <!-- <br /> -->
      don't hurt the environment in doing so.
    </p>

    <div class="t-center">
      <%= render 'shared/button', text: 'Would you like to take a look?', href: category_path('socks'), classes: 'mt-1' %>
    </div>
  </div>
<% end %>
