<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>size</th>
      <th>quantity</th>
      <th align="right">price (individual)</th>
    </tr>
  </thead>

  <tbody>
    <% order_items.each do |oi| %>
      <% garment = oi.garment %>
      <tr>
        <td><%= link_to garment.name, get_garment_path(garment), target: :blank %></td>
        <td><%= oi.size %></td>
        <td><%= oi.quantity %></td>
        <td align="right"><%= currency(garment.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
