.collage {
  display: grid;
  grid-gap: 1px;
  grid-auto-columns: 1fr;

  .button {
    width: 100%;
    height: 100%;
  }

  .collage-padded {
    padding: 0.5rem;

    @include breakpoint(m) {
      padding: 1rem;
    }
  }

  &.collage-coloured > div {
    @for $i from 1 to 5 {
      &:nth-child(#{$i}n) {
        background-color: bg(nth($brand-colors, $i));
      }
    }
  }
}

@mixin collage-children($children...) {
  @each $c in $children {
    .#{$c} {
      grid-area: #{$c};
    }
  }
}

#home-collage {
  width: 100%;
  height: 100%;

  @include collage-children(title, story, collection, practical, none, none2, instagram);

  // .story {
  //   background: bg($pink);
  // }
  // .collection {
  //   background: bg($blue);
  // }
  .practical {
    background: bg($lavender-blue);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    text-align: right;
  }
  .none2 {
    background: bg($languid-lavender);
  }
  .none {
    background: bg($baby-blue);
  }
  .instagram {
    background: bg($baby-blue);
  }

  grid-auto-columns: 1fr;
  grid-template-areas:
    "title title title none none"
    "title title title none none"
    "none2 none2 collection collection collection"
    "none2 none2 collection collection collection"
    "none2 none2 collection collection collection"
    "none2 none2 collection collection collection"
    "none2 none2 collection collection collection"
    "story story story practical practical"
    "story story story practical practical"
    "story story story practical practical"
    "story story story practical practical"
    "story story story practical practical"
    "instagram instagram instagram instagram instagram"
  ;
}

#story-collage {
  @include collage-children(title, hello, back-home, paragraph-1, paragraph-2, paragraph-3, paragraph-4, paragraph-5, fill-1, fill-2, cta, instagram);

  grid-template-areas:
    "title title title back-home back-home"
    "hello hello hello hello hello"
    "paragraph-1 paragraph-1 paragraph-1 paragraph-1 fill-1"
    "fill-2 fill-2 paragraph-2 paragraph-2 paragraph-2"
    "paragraph-3 paragraph-3 paragraph-3 paragraph-3 paragraph-3"
    "paragraph-4 paragraph-4 paragraph-4 paragraph-4 paragraph-4"
    "paragraph-5 paragraph-5 paragraph-5 cta cta"
    "instagram instagram instagram instagram instagram"
  ;
}
