.flash {
  padding: 0.7rem;
  margin-bottom: 1rem;

  &.alert {
    background: $red;
    &, p {
      color: white;
    }
  }

  &.notice {
    background: $grey;
    &, p {
      color: $black;
    }
  }
}
