/*
Error: Undefined variable: "$black".
        on line 15 of /Users/jeroen/code/jpjagt/wavedash/app/assets/stylesheets/components/_tunnel.scss

10: // size [400px]
11: 
12: @function tunnel-var($name, $default) {
13:   @return var(--tunnel-#{$name}, $default);
14: }
15: $tnl-text: tunnel-var(text, $black);
16: $tnl-primary: tunnel-var(primary, $pink);
17: $tnl-background: tunnel-var(background, $white);
18: 
19: $tnl-height: tunnel-var(height, 4000px);
20: $tnl-size: tunnel-var(size, 400px);

Backtrace:
/Users/jeroen/code/jpjagt/wavedash/app/assets/stylesheets/components/_tunnel.scss:15
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `map'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:129:in `_perform'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
/Users/jeroen/.rvm/gems/ruby-2.6.3/gems/sass-3.7.2/bin/sass:13:in `<top (required)>'
/Users/jeroen/.rvm/gems/ruby-2.6.3/bin/sass:23:in `load'
/Users/jeroen/.rvm/gems/ruby-2.6.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$black\".\A         on line 15 of /Users/jeroen/code/jpjagt/wavedash/app/assets/stylesheets/components/_tunnel.scss\A \A 10: // size [400px]\A 11: \A 12: @function tunnel-var($name, $default) {\A 13:   @return var(--tunnel-#{$name}, $default);\A 14: }\A 15: $tnl-text: tunnel-var(text, $black);\A 16: $tnl-primary: tunnel-var(primary, $pink);\A 17: $tnl-background: tunnel-var(background, $white);\A 18: \A 19: $tnl-height: tunnel-var(height, 4000px);\A 20: $tnl-size: tunnel-var(size, 400px);"; }
