////////////////////////////////////////
// tunnel variables
// [ all are prefixed with --tunnel- ]
// name [default]
////////////////////////////////////////
// text [$black]
// primary [$pink]
// background [$white]
// height [4000px]
// size [400px]

@function tunnel-var($name, $default) {
  @return var(--tunnel-#{$name}, $default);
}
$tnl-text: tunnel-var(text, $black);
$tnl-primary: tunnel-var(primary, $pink);
$tnl-background: tunnel-var(background, $white);

$tnl-height: tunnel-var(height, 4000px);
$tnl-size: tunnel-var(size, 400px);
$tnl-size-half: calc(#{$tnl-size} * 0.5);
$tnl-size-half-neg: calc(#{$tnl-size} * -0.5);

$tnl-grid-girth: 2px;
$tnl-grid-size: calc(#{$tnl-size} / 5 - 0.5 * #{$tnl-grid-girth});
$tnl-grid-color: $tnl-primary;

$tnl-border: 4px solid $tnl-grid-color;

$tnl-scan-height: 120px;

#reference {
  position: absolute;
  bottom: 0;
}

.tunnel-scroller {
  height: $tnl-height;
  width: 100%;
  background: white;
  pointer-events: none;
}
.tunnel-scene {
  width: $tnl-size;
  height: $tnl-size;
  position: fixed;
  top: 50vh;
  left: 50vw;
  perspective: 900px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;

  * {
    color: $tnl-text;
  }
}

.tunnel-structure {
  width: $tnl-size;
  height: $tnl-size;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(#{$tnl-size-half});

  will-change: transform;
}

$tnl-wall-shadow-extent: 22%;
$tnl-wall-shadow-opacity: 0.11;
$tnl-wall-shadow-color: #001144;
$tnl-gradient-shadow: linear-gradient(90deg, rgba($tnl-wall-shadow-color, $tnl-wall-shadow-opacity) 0%, rgba($tnl-wall-shadow-color,0) #{$tnl-wall-shadow-extent}, rgba($tnl-wall-shadow-color,0) #{100% - $tnl-wall-shadow-extent}, rgba($tnl-wall-shadow-color,$tnl-wall-shadow-opacity) 100%);
$tnl-gradient-grid:
linear-gradient(90deg, $tnl-grid-color $tnl-grid-girth, transparent calc(100% - #{$tnl-grid-girth})),
                linear-gradient(0deg, $tnl-grid-color $tnl-grid-girth, transparent calc(100% - #{$tnl-grid-girth}));
$tnl-gradient-grid:
linear-gradient(90deg, $tnl-grid-color $tnl-grid-girth, transparent $tnl-grid-girth),
                linear-gradient(0deg, $tnl-grid-color $tnl-grid-girth, transparent $tnl-grid-girth);

.tunnel-side {
  position: absolute;
  width: $tnl-size;
  height: calc(#{$tnl-height} * 2);
  transform-origin: $tnl-size-half $tnl-size-half;

  border: $tnl-border;
  background:
    $tnl-gradient-shadow,
    $tnl-gradient-grid,
    $tnl-background;
  background-size: 100% 100%, $tnl-grid-size 100%, 100% $tnl-grid-size;

  &.tunnel-side-noshadow {
    background: $tnl-gradient-grid, $tnl-background;
    background-size: $tnl-grid-size 100%, 100% $tnl-grid-size;
  }

  pointer-events: all;
}

.tunnel-wall-top, .tunnel-wall-bottom {
  /* background: linear-gradient(0deg, $pink 0%, $blue 100%); */
}
.tunnel-wall-left, .tunnel-wall-right {
  /* background: linear-gradient(90deg, $pink 0%, $blue 100%); */
}

.tunnel-face {
  @extend .tunnel-side-noshadow;
  height: $tnl-size;
}

.tunnel-face        { transform: rotateY(  0deg) translateZ($tnl-size-half-neg); }
.tunnel-wall-right  { transform: rotateY(-90deg) rotateZ(-90deg) translateZ($tnl-size-half-neg); }
.tunnel-wall-left   { transform: rotateY(90deg) rotateZ(90deg) translateZ($tnl-size-half-neg); }
.tunnel-wall-top    { transform: rotateX(90deg) rotateY(180deg) translateZ($tnl-size-half-neg); }
.tunnel-wall-bottom { transform: rotateX( 90deg) translateZ($tnl-size-half-neg); }

@keyframes scan {
  0% {
    top: -$tnl-scan-height;
  }
  15% {
    top: 100%;
    display: none;
  }
  100% {
    top: 100%;
    display: none;
  }
}

.tunnel-wall:after {
  content: '';
  position: absolute;
  top: -$tnl-scan-height;
  left: 0;
  right: 0;
  height: $tnl-scan-height;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba($white,0.2) 100%);
  border-bottom: 3px solid $tnl-primary;

  animation: scan 30000ms 2000ms infinite $easeInOutQuad;
}

.tunnel-graffiti {
  transform: scaleY(4) translateY(-10px);
  transform-origin: top center;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.tunnel-header-text {
  position: absolute;
  top: 3rem;
  overflow-x: visible;
  white-space: nowrap;
  right: 0;
  transform: translateX(50%);

  .lax {
    will-change: transform;
  }
}
.tunnel-wall-right .tunnel-header-text {
  right: 103%;
}
.tunnel-wall-top .tunnel-header-text {
  right: 206%;
}
.tunnel-wall-left .tunnel-header-text {
  right: 309%;
}

$tnl-tile-enlarge-duration: 660ms;
.tunnel-tile {
  background: white;
  position: absolute;

  pointer-events: all;
  cursor: zoom-in;

  background: $tnl-grid-color;
  padding: 4px;

  transition: width, height;
  transition-duration: $tnl-tile-enlarge-duration / 4;
  transition-delay: $tnl-tile-enlarge-duration / 3;
  transition-timing-function: $easeInOutQuint;

  &.enlarged {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: zoom-out;

    img {
      animation: clip-flashby forwards $tnl-tile-enlarge-duration;
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    animation: clip-flashby-backwards forwards $tnl-tile-enlarge-duration;
  }
}

$tnl-hole-radius: 6%;
.tunnel-tile-hole {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 42% 58%, 58% 58%, 58% 42%, 42% 42%, 42% 58%, 0% 100%);
}

.tunnel-logo svg, .tunnel-logo .cls-1 {
  stroke: $tnl-primary !important;
}

.tunnel-img-filtered {
  filter: url(#tunnel-img-filter);
}

.tunnel-end-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

  background: white;
  padding: 2rem;

  opacity: 0;
}
