html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  background-image: image-url('wavedash.png');
  background-size: 47px 10px;
  background-repeat: repeat;
  background-position: center;
  background-origin: border-box;
}

body {
  background: rgba(255, 255, 255, 0.99);
  background: $white;

  background-size: auto 300px;
  background-repeat: repeat;
  background-position: center;
}

h1, h2, h3, h4, h5 {
  color: $black;
  font-family: $header;
}

p, span, ul, li {
  color: $black;
  font-family: $sans;
}

p {
  margin: 0;
  line-height: 1.3;
}

a {
  color: $black;
  text-decoration: underline;

  font-family: $sans;

  &:hover {
    text-decoration: none;
  }
}

.wavedash {
  font-family: 'Cardo', serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  box-sizing: border-box;
}

.flex {
  display: flex
}
.flex-center {
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.no-margin {
  margin: 0;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clouds {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('https://images.unsplash.com/photo-1496450681664-3df85efbd29f?auto=format&fit=crop&w=1920&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.turbolinks-progress-bar {
  visibility: hidden;
}
