<% content_for(:title) do %><%= @category.name %><% end %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard' do %>
    <h1>our <%= @category.name %></h1>

    <% @category.garments.each do |garment| %>
      <%= render 'garments/card', garment: garment %>
    <% end %>
  <% end %>
</div>

<!-- <div class="flex flex-center full-height">
  <h1>our <%# @category.name %></h1>

  <%# @category.garments.each do |garment| %>
    <%# image_tag garment.thumbnail %>
  <%# end %>
</div> -->
