<%= form_tag payment_path, id: 'credit-card-form' do %>
  <div class="form-row">
    <label for="card-element">credit card</label>
    <%# JS below will insert card form into this div %>
    <div id="card-element"></div>

    <p class="d-none" id="card-errors" role="alert"></p>
  </div>

  <input type="submit" class="submit button" value="pay">
<% end %>

<% content_for(:after_js) do %>
  <script>
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    var cardError = document.getElementById('card-errors');
    var cardForm = document.getElementById('credit-card-form');

    // Handle real-time validation errors
    card.addEventListener('change', function(event) {
      if (event.error) {
        showError(cardError, event.error.message);
      } else {
        hideError(cardError);
      }
    });

    // Handle form submission.
    cardForm.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error
          showError(cardError, result.error.message);
          stopLoading(cardForm);
        } else {
          hideError(cardError);
          showLoading(cardForm);

          // Insert the token ID into the form
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', result.token.id);
          cardForm.appendChild(hiddenInput);

          // Submit form to callback
          cardForm.submit();
        }
      });
    });
  </script>
<% end %>
