<%= form_tag payment_path, id: 'ideal-form' do %>
  <div class="form-row">
    <label for="ideal-bank-element">iDeal</label>
    <%# JS below will insert card form into this div %>
    <div id="ideal-bank-element"></div>

    <p class="d-none flash alert" id="ideal-errors" role="alert"></p>
  </div>

  <input type="submit" class="submit button" value="pay">
<% end %>

<% content_for(:after_js) do %>
  <script>
    var style = {
      base: {
        color: '#32325d',
        padding: '8px 12px',
        fontFamily: '"Padauk", "Helvetica Neue", "Helvetica", "sans-serif"',
        fontSmoothing: 'antialiased',
        fontSize: '15px'
      }
    };

    // Create an instance of the idealBank Element.
    var idealBank = elements.create('idealBank', {style: style});

    // Add an instance of the idealBank Element into the `ideal-bank-element` <div>.
    idealBank.mount('#ideal-bank-element');

    var idealError = document.getElementById('ideal-errors');
    var idealForm = document.getElementById('ideal-form');

    // Handle form submission.
    idealForm.addEventListener('submit', function(event) {
      event.preventDefault();
      showLoading(idealForm);

      var sourceData = {
        type: 'ideal',
        amount: <%= @amount %>,
        currency: 'eur',
        owner: {
          name: "<%= @order.address.name %>",
        },
        // URL to which user is redirected after paying
        redirect: {
          return_url: "<%= ideal_callback_url %>"
        },
      };

      // Call `stripe.createSource` with the idealBank Element and additional options.
      stripe.createSource(idealBank, sourceData).then(function(result) {
        if (result.error) {
          showError(idealError, result.error.message);
          stopLoading(idealForm);
        } else {
          // Redirect the customer to the authorization URL.
          hideError(idealError);
          window.location.replace(result.source.redirect.url);
        }
      });
    });
  </script>
<% end %>
